.data{
    display: none;
}

.g-signin2{
    position: absolute;
    left : 50%;
    top: 50%;
}

#updateForm, #newForm {
    display: none;
}

.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #858ab3;
    background-color:#858ab3;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#ffffff;
}